//@import '../../../../.cache/wal/colors.scss';
$color0: #282a2e;
$color1: #a54242;
$color2: #8c9440;
$color3: #de935f;
$color4: #5f819d;
$color5: #85678f;
$color6: #5e8d87;
$color7: #707880;
$color8: #373b41;
$color9: #cc6666;
$color10: #b5bd68;
$color11: #f0c674;
$color12: #81a2be;
$color13: #b294bb;
$color14: #8abeb7;
$color15: #c5c8c6;


$width: 400px;

html, body, ul {
  margin: 0;
  padding: 0;
}

body {
  background: $color0;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Noto Sans';
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  color: $color1;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: $width;
}

hr {
  border: 0;
  border-top: 1px solid $color6;
  opacity: 0.4;
  width: $width;
}

ul {
  display: block;
  margin: 0 auto;
  width: $width;
}

li {
  color: $color5;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: $color4;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: $color8;
  }
}

.colors-preview {
  display: block;
  margin: 0 auto;
  width: $width;

  .color {
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  .color0 { background-color: $color0 }
  .color1 { background-color: $color1 }
  .color2 { background-color: $color2 }
  .color3 { background-color: $color3 }
  .color4 { background-color: $color4 }
  .color5 { background-color: $color5 }
  .color6 { background-color: $color6 }
  .color7 { background-color: $color7 }
  .color8 { background-color: $color8 }
  .color9 { background-color: $color9 }
  .color10 { background-color: $color10 }
  .color11 { background-color: $color11 }
  .color12 { background-color: $color12 }
  .color13 { background-color: $color13 }
  .color14 { background-color: $color14 }
  .color15 { background-color: $color15 }
}

